.button{
  padding-top:100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn:last-child{
margin-left: 20px;
}
.btn{
  width: 100px;
  height: 50px;
  background-color: aliceblue;
  color: black;
}